
$color-primary: #E84855;
$color-primary-rgba1: rgba(232, 72, 85, .8);
$color-primary-rgba2: rgba(232, 72, 85, .3);
$color-secondary: #2D3047;
$color-secondary-rgba1: rgba(45, 48, 71, .8);
$color-secondary-rgba2: rgba(45, 48, 71, .3);
$color-secondary-alt: #cbb5e2;
$color-third: #FFFD82;
$color-third-rgba1: rgba(255, 253, 130, .8);
$color-third-rgba2: rgba(255, 253, 130, .3);
$color-third-alt: #fb9124;
$color-fourth: #1B998B;
$color-fourth-rgba1: rgba(27, 153, 139, .8);
$color-fourth-rgba2: rgba(27, 153, 139, .3);

$white: #fff;
$white-secondary: #f2f5f7;

$color-font-primary: #3d4954; 
$color-font-secondary: #8b939c;
$color-font-icon:#cccccc;

$header-gray: #aaaebc;