$shadow1: -2px 6px 19px 0px #7f818e;
$shadow2: 0px 1px 7px 2px #c7c9d3;
$shadow3: 0 -6px 0 0 #aaaebc, 0 6px 0 0 #aaaebc;
$shadow-dark: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);

$border-bottom: 1px solid #dcddde;
$border-bottom2: 1px solid #ebedef;