<!-- <div class="body">
    <div class="header-wrapper">
        <div class="nav-but-wrap">
            <div (click)="toggle()" class="menu-icon hover-target">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>					
        </div>
    </div>					

    <div class="nav">
        <div class="nav__content">
            <ul class="nav__list">
                <li class="nav__list-item active-nav"><a href="#" class="hover-target">Home</a></li>
                <li class="nav__list-item"><a href="#" class="hover-target">Portfolio</a></li>
                <li class="nav__list-item"><a href="#" class="hover-target">Studio</a></li>
                <li class="nav__list-item"><a href="#" class="hover-target">News</a></li>
                <li class="nav__list-item"><a href="#" class="hover-target">Contact</a></li>
            </ul>
        </div>
    </div>	
</div> -->

<div class="menu">
    <div class="profile-menu" (click)="toggle()">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-menu"
            ><path d="M3 12h18M3 6h18M3 18h18" />
        </svg>
        Menu
    </div>
    
    <nav class="nav">
        <div class="nav__content">
            <ul class="nav__list">
                <li class="nav__list-item active-nav"><a href="#" class="hover-target">Offers</a></li>
                <li class="nav__list-item"><a href="#" class="hover-target">Books</a></li>
                <li class="nav__list-item"><a href="#" class="hover-target">About us</a></li>
            </ul>
        </div>
    </nav>
</div>	