<div class="rate">
    <fieldset class="rating" [ngClass]="{'book-rate':starsWhite}">
      <input type="checkbox" id="star5" name="rating" value="5" />
      <label class="full" for="star5"></label>
      <input type="checkbox" id="star4" name="rating" value="4" />
      <label class="full" for="star4"></label>
      <input type="checkbox" id="star3" name="rating" value="3" />
      <label class="full" for="star3"></label>
      <input type="checkbox" id="star2" name="rating" value="2" />
      <label class="full" for="star2"></label>
      <input type="checkbox" id="star1" name="rating" value="1" />
      <label class="full" for="star1"></label>
    </fieldset>
    <span class="book-voters" [ngClass]="{'card-vote':starsWhite}">1.987 voters</span>
</div>